@{
    ViewData["Title"] = "Index Home";
}

@Html.ActionLink("Ir a Mis Recetas", "Index", "Receta")

@section SideBar{


                <div class="sidebar1">
                <h4>Bienvenidos a Mis Recetas</h4>
                <img src="~/fotos/imagen01.png" alt="Imágen no encontrada"/>
                <img src="~/fotos/imagen02.jpg" alt="Imágen no encontrada"/>
                <img src="~/fotos/imagen03.jpg" alt="Imágen no encontrada"/>
            </div>

        }
        <div>
            <p>
                El desayuno es la primera comida que se consume en el día. El nombre deriva del hecho de que uno no come mientras duerme, por lo que al levantarse se encuentra en ayunas, rompiéndose ese ayuno al tomar esta comida (des-ayuno).
            </p>
            <p>
                El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo.[cita requerida]

                Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado.1​
            </p>
            <p>
                En Estados Unidos de América el desayuno completo consiste en panceta, huevos, hash browns y tostada. A menudo se le denomina country breakfast (‘desayuno campestre’) en muchas zonas del Medio Oeste. Los términos fry y full breakfast no suelen usarse en Norteamérica, si bien algunos hoteles pueden distinguir entre un continental breakfast ligero y un desayuno caliente.
            </p>
        </div>